@import '../../../../assets/sass/theme.scss';

.model-select {
  margin: 5px 0 5px 0;
}

.models {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 0;

  &-list {
      flex-basis: 20vw;
      min-width: 250px;
      max-width: 300px;
  }

  &-detail {
      flex-grow: 1;
      overflow: auto;
  }

  .app-connections-page-list-bg-lighter-1 {
    flex-basis: 20vw;
    min-width: 250px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.05);
  }
}



